<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <!--[if lte IE 6]><meta http-equiv="refresh" content="0; url=/ie6.html"><![endif]-->
   <link rel="dns-prefetch" href="//fonts.googleapis.com">
   <link rel="dns-prefetch" href="//www.google-analytics.com">
   <link rel="dns-prefetch" href="//v1.uyan.cc">
  
   <title>{{ page.title }}{% if page.navflag != 'home' %}{{ site.title_suffix }}{% endif %}</title>

   {% if page.description %}
   <meta name="description" content="{{ page.description }}">
   {% else %}
   <meta name="description" content="{{ site.tagline }}">
   {% endif %}
   <meta name="keywords" content="{{ site.keywords | join: "," }}">
   <meta name="author" content="{{ site.author.name }}">

   <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico">
   <link rel="alternate" type="application/atom+xml" href="{{ BASE_PATH }}/atom.xml" title="Atom feed">
   <link rel="alternate" type="application/rss+xml" href="http://feed.feedsky.com/{{ site.author.feedsky }}" title="RSS 2.0">

   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css">
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/imaimo-style.css">
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/uyan-custom.css">
   {% include plugin/plugin_css %}
   {% include extra/extra_css %}
   {% include demo/demo_css %}
   <script src="{{ PURE_ASSET_PATH }}/js/essential/respond.min.js"></script>
   <script src="{{ PURE_ASSET_PATH }}/js/essential/modernizr-2.7.1-custom.min.js"></script>
   <script src="{{ PURE_ASSET_PATH }}/js/essential/jquery-1.11.1.min.js"></script>
   <script src="{{ PURE_ASSET_PATH }}/js/essential/acgtofe.js"></script>
   
</head>
<body>
<div class="total_container">
  <div class="wrapper">
        <header class="site_header">
            <div class="site_logo">
                <a class="logo_link" href="{{ HOME_PATH }}" title=""><img class="acgtofe_logo" src="{{ ASSET_PATH }}/images/transparent.gif" alt="{{ site.title }}" /></a>
            </div>
            <nav class="site_nav">
                <ul class="nav_list">
                    <li class="nav_item{% if page.navflag == 'home' %} nav_current{% endif %}"><a class="nav_link" href="{{ HOME_PATH }}" title="Home">Home<cite class="nav_line"></cite></a></li>
                    <li class="nav_item{% if page.navflag == 'demo pages' %} nav_current{% endif %}"><a class="nav_link" href="{{ BASE_PATH }}/demo_pages/" title="Demo pages">Demo pages<cite class="nav_line"></cite></a></li>
                    <li class="nav_item{% if page.navflag == 'about' %} nav_current{% endif %}"><a class="nav_link" href="{{ BASE_PATH }}/about.html" title="About">About<cite class="nav_line"></cite></a></li>    
                </ul>
            </nav>
            <div class="site_top_img"><img class="top_img" src="{{ PURE_ASSET_PATH }}/used-images/wallpaper_top/wallpaper_top_coconut.jpg" alt="" /></div>
        </header>
        <div class="content clearfix">
            {{ content }}
        </div>
    </div>
    <div class="footer_placeholder"></div>
</div>
<footer class="site_footer">
  <div class="footer_wrapper">
        <div class="footer_note">
            <p class="theme_declare">The current theme is imaimo.</p>
            <p class="copyright">&copy; 2015 <a href="{{ HOME_PATH }}" title="">{{ site.author.name }}</a>. Built with <a href="http://jekyllbootstrap.com/" title="Jekyll Bootstrap">Jekyll Bootstrap</a>.</p>
        </div>
    </div>
</footer>
<div id="returnTop" class="return_top_tab"><a class="return_top_link" href="javascript:;" title=""></a></div>
{% include plugin/plugin_js %}
{% include extra/extra_js %}
{% include demo/demo_js %}
{% include JB/analytics %}
</body>
</html>
