<div class="main">
    <div class="main_inner">
        <div class="single_post">
            <h1 class="single_post_title">{{ page.title }}</h1>
            <div class="single_post_info">
                <span class="post_date">日期：{{ page.date | date:"%Y-%m-%d" }}</span><span class="post_categories">分类：<a class="post_categories_link" href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.categories }}-ref" title="">{{ page.categories }}</a></span>
            </div>
            <div class="post_content">
                {{ content }}
            </div>
            {% if page.tags.size > 0 %}
            <div class="post_tags_exhibit">
                <i class="icon_sprite icon_tag"></i>
                <div class="tags_exhibit">
                    {% for tag in page.tags %}
                    <a class="tag_link" href="#0" title="">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="post_nav">
                {% if page.next %}
                <a class="post_nav_link post_next_link" href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title}}</a>
                {% endif %}
                {% if page.previous %}
                <a class="post_nav_link post_prev_link" href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title}}</a>
                {% endif %}
            </div>
            <div class="post_comments">
                {% include JB/comments %}
            </div>
        </div>
    </div>
    <div class="ribbon_brown"></div>
</div>
<div class="sidebar">
  <div class="sidebar_unit">
      <div class="unit_container">
          <div class="aside_title"><i class="icon_sprite icon_home"></i><em>简介</em><span>Introduction</span></div>
            <p class="intro_note">ACGTOFE是包含动漫，游戏，前端开发相关信息与资源的个人博客。<br/><br/>ACG即动漫和游戏（Anime, Comic, Game），FE是Front-End，前端开发，to是平假名“と”的罗马拼音，意为“和”，也是英文And的意思。<br/><br/>如果你喜欢本博客，请推荐给好友！</p>
        </div>
    </div>
    <div class="sidebar_unit">
      <div class="unit_container">
          <div class="aside_title"><i class="icon_sprite icon_categories"></i><em>文章分类</em><span>Categories</span></div>
            <ul class="category_list clearfix">
                {% for category in site.categories  %}
                <li class="category_item"><a class="category_link" href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category | first }}-ref" title="">{{ category | first }}</a><span class="post_count">({{ category | last | size }})</span></li>
                {% endfor  %}
            </ul>
        </div>
    </div>
    <div class="sidebar_unit sidebar_unit_last">
      <div class="unit_container">
            <div class="aside_title"><i class="icon_sprite icon_information"></i><em>信息</em><span>Information</span></div>
            <div class="info_note">
                <p class="info_note_line">作者所用头像：</p>
                <div class="avatar_container">
                  <img class="author_avatar" width="80" height="80" src="{{ PURE_ASSET_PATH }}/used-images/author_about/edwardup_avatar.jpg" alt="Horo" />
                </div>
                <p class="info_note_line">新浪微博：<a class="weibo_link" href="http://weibo.com/2000799991" target="_blank" title="">@EdwardUp</a></p>
                <p class="info_note_line">RSS订阅：<a class="RSS_link" href="http://feed.feedsky.com/{{ site.author.feedsky }}" title="RSS" target="_blank"><i class="icon_sprite icon_RSS"></i></a></p>
                <p class="info_note_line">友情链接：<a class="friend_site_link" href="http://www.afcar.cn" title="Afcar 个人站 Website of Afcar" target="_blank">A领域</a></p>
            </div>
        </div>
    </div>
</div>